<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>666525060584-vj075kbdg21n4dioh0vv97iuug2i4mpr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.666525060584-vj075kbdg21n4dioh0vv97iuug2i4mpr</string>
	<key>API_KEY</key>
	<string>AIzaSyDbexnqtOmYEQ7089G1_kMxKHpOu3o-zZI</string>
	<key>GCM_SENDER_ID</key>
	<string>666525060584</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pawsplaydate.PawsPlaydate</string>
	<key>PROJECT_ID</key>
	<string>pawsplaydate-28934</string>
	<key>STORAGE_BUCKET</key>
	<string>pawsplaydate-28934.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:666525060584:ios:0663396f27e3dd550ce85d</string>
</dict>
</plist>